<font size="5">Imports</font>

In [1]:
import pandas as pd

<font size="5">Bring in table NHL Stanley Cup Champions.</font>
<br>
<font size="5">Source: Table was scraped from NHL website.</font>

In [2]:
df_champs = pd.read_csv('NHL_Champions.txt')
df_champs.head(5)

   Year                 Team               Coach
0  2022   Colorado Avalanche  Coach Jared Bednar
1  2021  Tampa Bay Lightning    Coach Jon Cooper
2  2020  Tampa Bay Lightning    Coach Jon Cooper
3  2019      St. Louis Blues  Coach Craig Berube
4  2018  Washington Capitals   Coach Barry Trotz

<font size="5">Championship teams and the years they've won the Stanley Cup.</font>

In [3]:
df_teams_years_won = df_champs[['Team', 'Year']].copy()
df_teams_years_won = df_teams_years_won.groupby(by=['Team', 'Year']).count() # Empty Dataframe, only MultiIndex remains.

# Argument sort_remaining works left to right. Therefore, need to sort in order of right to left.
df_teams_years_won.sort_index(level=1, ascending=False, inplace=True, sort_remaining=False) # Sort the years, descending.
df_teams_years_won.sort_index(level=0, ascending=True, inplace=True, sort_remaining=False) # Sort the team names, ascending.

df_teams_years_won.head(15)

Empty DataFrame
Columns: []
Index: [(Anaheim Ducks, 2007), (Boston Bruins, 2011), (Boston Bruins, 1972), (Boston Bruins, 1970), (Boston Bruins, 1941), (Boston Bruins, 1939), (Boston Bruins, 1929), (Calgary Flames, 1989), (Carolina Hurricanes, 2006), (Chicago Black Hawks, 1961), (Chicago Black Hawks, 1938), (Chicago Black Hawks, 1934), (Chicago Blackhawks, 2015), (Chicago Blackhawks, 2013), (Chicago Blackhawks, 2010)]

In [4]:
Championship_Years_filename = 'Championship_Teams_Years.xlsx'
with pd.ExcelWriter(Championship_Years_filename) as writer:
    df_teams_years_won.to_excel(writer, sheet_name='Champions Years')

<font size="5">Which Team has the most Stanley Cup wins?</font>

In [5]:
df_champs_wins = df_champs[['Team', 'Year']].copy()
df_champs_wins.rename(columns={'Year':'Stanley_Cup_Wins'}, inplace=True)
df_champs_wins = df_champs_wins.groupby(by=['Team'], as_index=False).count()
df_champs_wins.sort_values(by=['Stanley_Cup_Wins'], ascending=False, inplace=True)
df_champs_wins.reset_index(drop=True, inplace=True)
df_champs_wins.head(10)

                  Team  Stanley_Cup_Wins
0   Montreal Canadiens                22
1  Toronto Maple Leafs                11
2    Detroit Red Wings                11
3        Boston Bruins                 6
4      Edmonton Oilers                 5
5  Pittsburgh Penguins                 5
6   New York Islanders                 4
7     New York Rangers                 4
8  Tampa Bay Lightning                 3
9  Chicago Black Hawks                 3

<font size="5">Of the current 2022 NHL teams, which team(s) have yet to win a Stanley Cup?</font>

In [6]:
# Need to scrape from NHL website a list of current 2022 NHL teams.
# Updated: Scraped NHL website for a list of current 2022 NHL teams.
df_current_teams = pd.read_csv('NHL_Teams.csv')
df_current_teams.head(5)

   Index              NHL_Teams
0      1    Carolina Hurricanes
1      2  Columbus Blue Jackets
2      3      New Jersey Devils
3      4     New York Islanders
4      5       New York Rangers